.nav_back
{
  background-color: #536E83;
}
.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
}
 /* タブレットの設定
@media screen and (max-width: 1024px) and (orientation: landscape)
{
  #app > nav > div
  {
      zoom:100%;
  }
  body{
    zoom:80%;
  }
  .container-fluid{zoom:80%}
  .container{zoom:83%}
  
} */

/* バナー本体 */
#info_banner
{
  display: none; /* 最初は非表示 */
}

.news-banner {
  display: block;
  height: 30px;
  width: 100%;
  background-color: orange;
  overflow: hidden;
}

/* バナー内コンテンツ */
.news-banner__content {
  display: inline-block;
  color: #fff;
  line-height: 30px;
  padding-left: 100%;
  white-space: nowrap;
  animation: animate-banner 20s linear infinite;
}
.news-banner__content p
{
  margin-top: 0px !important;
  font-size: 1.4rem !important;
}

/* バナー内の要素をすべて選択 */
.news-banner__content > * {
  display: inline-block;
}

/* 横にスクロールさせるアニメーション */
@keyframes animate-banner {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}