/* body {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 14px;
    /* line-height: 1.6em;
    margin: 0px;
    padding: 0;
    background-color: #515d6a; } */
.select_area
{
    text-align: center;
    margin-bottom: 2%;
}

#container {
    padding: 20px;
}

#form1 {
    background-color: #FFFFFF;
}

table {
    border-collapse: collapse;
    line-height: 1em;
    /* float: left; */
    margin: 5px auto;
    width: 230px;
}

table th {
    /* border: #dddddd solid 1px; */
    border: #203044 solid 1px;
    /* background-color: #162F6B; */
    background-color: #515d6a;
    padding: 5px;
    color: #FFFFFF;
    font-size: 0.9em;
    text-align: center;
}

table td {
    border: #515d6a solid 1px;
    padding: 15px 15px;
    text-align: right;
    cursor: pointer;
    text-align: center;
}

table td:hover {
    background-color: #FFF09E;
}
.holiday
{
    background-color:#B3D39B;
}
.past_date
{
    background-color: gray;
}
.select_cell
{
    background-color: orange;
}

