/* 戻るボタン */
.back_btn {
    width: 2.5%;
    margin-left: 1%;
    vertical-align: middle;
    color: #000;
}

.browser_back_area a {
    color: #000;
}

.browser_back_area span {
    vertical-align: -2px;
    font-size: 18px;
}
.form_area
{
    background-color: #ADD8E6;
    padding: 2%;
    border-radius: 10px;
}
.upload
{
    margin-bottom: 5%;
}
.contents_margin
{
    margin-top: 1%;
}
.contents {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

.submit_btn {
    margin-top: 10px;
    margin-right: 10%;
}

table {
    /* table-layout: fixed; */
    width: 100%;
}
th,
td {
    border: solid 1px;
    padding-left: 1%;
    /* 枠線指定 */
}

table {
    border-collapse: collapse;
    /* セルの線を重ねる */
}

/*タブ切り替え全体のスタイル*/
.tabs {
    margin-top: 50px;
    padding-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    margin: 0 auto;
}

/*タブのスタイル*/
.tab_item {
    width: calc(100%/4);
    height: 50px;
    border-bottom: 3px solid #536E83;
    background-color: #d9d9d9;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
}

.tab_item:hover {
    opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
    display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
    display: none;
    padding: 40px 40px 0;
    clear: both;
    overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#all:checked~#all_content,
#shipment:checked~#shipment_content,
#adding_request:checked~#adding_request_content,
#material_ledger:checked~#material_ledger_content,
#design:checked~#design_content {
    display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked+.tab_item {
    background-color: #536E83;
    color: #fff;
}
.flax
{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.add_btn
{
    width: 100%;
    margin-top: auto;
    padding: 1% 3%;
    background-color: #8BA7BD;
    border: 1px solid #8BA7BD;
    border-radius: 3px;
}

/* 2/29　富岡追加 */
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  /* display: block; */
  position: relative;
  margin-left: 15px;
  padding-left: 35px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child
{ 
    margin-bottom: 0; 
}

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #056b97;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.form_range
{
    width: 100%;
}

.btn_class
{
    display: flex;
}